@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #F5F5F5, #EAEAEA);
    color: #333;
}

header {
    margin: 40px auto;
    text-align: center;
    font-size: 2.2rem;
    color: #2563EB;
}

section {
    max-width: 900px;
    margin: 0 auto;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: 0px auto 60px auto;
    padding: 20px;
}

.sobre .foto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #007BFF;
    color: #2563EB;
}

.tec h2 {
    display: inline-block;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.tec {
    background: #fff;
    max-width: 900px;
    margin: 0 auto 60px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.tec ul{
    column-gap: 80px;
}

.nomeTec {
    display: flex;
    justify-content: center;
}

.nomeTec ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.nomeTec li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    header{
        font-size: 16px;
    }
    main h2{
        font-size: 25px;
    }
    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .tec {
        columns: 1;
    }
}
